
/* styele for card */
.card {
  border-radius: 4px;
  margin: 0 12px;
  z-index: 0;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    z-index: -1;
    background: #00838d;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

@media screen and (max-width: 500px) {
  .card img.card-img-top {
    height: 300px;
  }
}
